
<div class="container">
    <h1>My River Adventure</h1>
    <p>Over the weekend, I went @Model.Verb1 on the columbia river in my 30 foot @Model.Noun1.  It was
        very @Model.Adj1, and I almost fell overboard.</p>
    <p>I only survived by @Model.Verb2 hold of a @Model.Noun2 preserver.</p>
</div>
